{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block content %}
<h1 class="h3">Mis empresas</h1>

{% if companies %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Alias</th>
                <th scope="col">RUT</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td><a href="{% url 'companies:detail' company.uuid %}">{{ company.name }}</a></td>
                    <td>{{ company.alias }}</td>
                    <td>{{ company.rut }}</td>
                    <td>{{ company.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-muted">Aún no has creado una empresa.</p>
{% endif %}

<a href="{% url 'companies:create' %}" class="btn btn-primary">Crear empresa</a>
{% endblock %}